/* CSS declarations go here */
body {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: black;
}

h1 {
    font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

li {
    text-align:left;
}
#header {
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  background: #efefef;
  line-height: 1.7em;
}
#header a {
  color: #666;
  text-decoration: none;
}

#header a img {
  height: 13px;
  position: relative;
  top: -2px;
  padding-right: 7px;
}
.left {
  float: left;
}
#banner {
  margin: 20px 0;
}
#banner h1 {
  margin: 0;
}
#banner img {
  height: 60px;
}
#search {
  margin-bottom: 20px;
}
#search input {
  width: 80%;
  max-width: 490px;
  border: 1px solid #aaa;
  padding: 5px;
}
#buttons {
  margin-bottom: 20px;
  clear: both;
}

.result {
  padding: 10px 20px;
  text-align:left;
  background: #efefef;
  border-top: 1px solid #aaa;
}

.result-border-bottom {
    border-bottom:1px solid #aaa;
}

.result-number {
  float:left;
  vertical-align:top;
  margin:13px 15px 0 0;
  color:#555;
}

@media (max-width:550px) {
    .result-number {
        margin:5px 15px 0 0;
    }
}

.result-type-logo {
  float:left;
  vertical-align:top;
  margin:0 15px 0 0;
}

.result-type-logo img {
  width:44px;
}

@media (max-width:767px) {
    .result-type-logo img {
        width:32px;
    }
}

.result-text-wrapper {
  overflow:hidden;
}

.result-title {
  font-size:16px;
}

.result-subtitle {
  font-size:13px;
  font-style:italic;
  margin:3px 0 0 0;
}

/*Client Style*/

.nav-tabs a {
    background-color: #e7e7e7;
    color: #ef3e35;
}

.tab-pane ul {
    padding-top: 25px;
}

.tab-pane li {
    padding-top: 5px;
}

.clientListName {
    font-weight: bold;
}

.clientListLink {
    color: #ef3e35;
}

.filterAlign {
    float:left;
}

.filterAlign input {
    margin-right: 5px;
}
