/* CSS declarations go here */
body {
  margin: 10% 0 0 0;
  text-align: center;
  font-size: 14px;
  color: black;
}

h1 {
    font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

li {
    text-align:left;
}

#banner {
  margin-bottom: 20px;
}
#banner h1 {
  font-size: 3em;
  font-weight: 700;
  font-family: Tahoma, Arial, Sans-serif;
  line-height: 1em;
}
#banner .first {
  text-transform: uppercase;
  color: red;
}
#banner .last {
  text-transform: uppercase;
  font-size: 1.5em;
}
#search {
  margin-bottom: 20px;
}
#search input {
  width: 80%;
  max-width: 500px;
  border: 1px solid #aaa;
  padding: 10px;
}
#buttons {
  margin-bottom: 20px;
  clear: both;
}
div.result {
  padding: 40px;
  background: #efefef;
  border-top: 1px solid #aaa;
}

/*Client Style*/

.nav-tabs a {
    background-color: #e7e7e7;
    color: #ef3e35;
}

.tab-pane ul {
    padding-top: 25px;
}

.tab-pane li {
    padding-top: 5px;
}

.clientListName {
    font-weight: bold;
}

.clientListLink {
    color: #ef3e35;
}
